/*just font stuff*/

/*body style*/
body {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}

.mainbody {
    background-color: yellow;
    overflow: hidden;
}

/*This flex should cover the screen*/
.papaflex{
    display: flex;
    flex-direction: row;
    border-style: solid;
    height: 99vh;
}

/*for everything in the aside coloum*/
.homeaside {
    border-style: solid;
    border-color: red;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:space-between;
}

.textcontainer { /*this is just the box for the two text boxes, aside and name*/
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: green;
    margin-top: 30px;
    color: red;
}

.asidetext {
    font-family: "Lilita One";
    font-size: 30px;
}

.nametext {
    font-size: 140px;
}

/*this is for the button*/
.buttonholder {
    display: flex;
    border-style: solid;
    border-color: purple;
    justify-content: start;
    height: 70px;
}

.navbutton {
    border-style: solid;
    border-color: red;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 15px;
}

/*this is for the navbar*/

.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    height: 300px;
    width: 700px;
    border-style: solid;
    border-color: aqua;
    display: none;
    background-color: white;
}

.sidebar li{ /*not entirerly sure why i need this...but it doesnt' work without it*/
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.navtext {
    color: red;
    text-decoration: none;
    font-family: "Lilita One";
}

.navclose {
    fill: red;
    position: fixed;
    bottom: 260px;
    left: 700px;
}

.navtext:hover { color:lightskyblue; }

/*for everything in the main coloum*/
.homemain {
    border-style: solid;
    border-color: red;
    display: flex;
    width: 600px;
    flex-direction: column;
}

.imgholster {
    border-style: solid;
    border-color: green;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

