
/*body style*/
body {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}
.mainbody {
    background-color: rgb(255, 255, 69);
    background-image: url(https://storage.googleapis.com/derswebsitebucket/Backgrounds/websitebackgroundred%3Ayellow%2Bmore.png);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
/*This flex should cover the screen*/
.papaflex{
    display: flex;
    flex-direction: row;
    height: 99vh;
}
/*for everything in the aside coloum*/
.homeaside {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:space-between;
}
.textcontainer { /*this is just the box for the two text boxes, aside and name*/
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: rgb(255, 44, 44);
    text-align: end;
    margin-top: 270px;
}
.asidetext {
    font-family: "Lilita One";
    font-size: 30px;
    text-shadow: -2px 2px purple;
}
.nametext {
    font-size: 140px;
    text-shadow: -4px 4px purple;
}
/*this is for the button*/
.buttonholder {
    display: flex;
    justify-content: start;
    height: 70px;
}
.navbutton {
    border-style: solid;
    border-color:  rgb(255, 44, 44);
    background-color:  rgb(255, 44, 44);
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    cursor: grab;
}
svg {
    fill: lightblue;
}
/*this is for the navbar*/
.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 7px;
    margin-left: 7px;
    height: 300px;
    width: 690px;
    display: none;
    background-color: rgb(255, 61, 61);
    border-style: solid;
    border-color: rgb(0, 255, 145);
}
.sidebar li{ /*not entirerly sure why i need this...but it doesnt' work without it*/
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
.navtext {
    color: rgb(255, 255, 69);
    text-decoration: none;
    font-family: "Lilita One";
}
.navclose {
    fill: red;
    position: fixed;
    bottom: 35px;
    left: 27px;
}
/*for everything in the main coloum*/
.homemain {
    display: flex;
    width: 600px;
    flex-direction: column;
}
.imgholster {
    height: 100%;
}
.titlecard {
    height: auto;
    width: 90%; 
    margin-top: 200px;
}
/*this is for the button decoration*/
.navtext {
    text-decoration: none;
    transition: color 0.5s;
}
.navtext:hover { color:lightblue; 
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .sidebar {
        width: 400px;
    }
    .papaflex {
        flex-direction: column-reverse;
        width: 153vw;
        height: 155vh;
    }
    .nametext {
        font-size: 100px;
    }
    .textcontainer {
        text-align: center;
        margin-top: 0px;
    }
    .imgholster {
        margin-bottom: 0px;
        justify-content: center;
    }
    .homeaside {
        justify-content: end;
    }
  }
  @media only screen and (max-width: 1300px) {
    .textcontainer {
        margin-top: 200px;
    }
    .titlecard {
        margin-top: 100px;
    }
    
  }

