/*just font stuff*/

/*body style*/
body {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}
.bodytag {
    background-color: yellow;
    overflow: scroll;
}
/*This flex should cover the screen*/
.biggestflex {
    display: flex;
    flex-direction: row;
    border-style: solid;
}
/*Box on the left...duh*/
.bigboxleft {
    border-style: solid;
    border-color: red;
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content:center;
    align-items: center;
}
.resumeimage { /*This one is just the resume page*/
    height: 650px;
}
.multimage { /*This is all pages with mulitple images*/
    height: 400px;
}
/*box on the right*/
.bigboxright {
    border-style: solid;
    border-color: red;
    display: flex;
    flex: 1;
    height: 99vh;
    flex-direction: column;
    justify-content: space-between;
}
.toptextbox {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: green;
    color: red;
    font-size: 150px;
}
/*this is for the button*/
.buttonholder {
    display: flex;
    border-style: solid;
    border-color: purple;
    justify-content: end;
    height: 70px;
}
.navbutton {
    border-style: solid;
    border-color: red;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 15px;
}
/*this is for the navbar*/
.sidebar {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 7px;
    margin-right: 7px;
    height: 300px;
    width: 680px;
    border-style: solid;
    border-color: aqua;
    display: none;
    background-color: white;
}
.sidebar li{ /*not entirerly sure why i need this...but it doesnt' work without it*/
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
.navtext {
    color: red;
    text-decoration: none;
    font-family: "Lilita One";
}
.navclose {
    fill: red;
    position: fixed;
    bottom: 35px;
    right: 27px;
}
.navtext:hover { color:lightskyblue; }
