/*Main page(home page)*/
body {
    background: #ffffff;
    overflow: hidden;
}

#mainpic {
    height: 35vh;
    position: relative; left:580px; top:200px
    
}

#MainText {
    color: black;
    font-size: 10rem;
    position: relative; right:0px; top:200px
}

#nav ul {
    font-size: 20px;
    margin: 40px;
    position: relative; bottom:800px; right:60px
}

/*Resume page*/
#resumeimage {
    position: relative; left: 20px; top:40px
        
}

#resumetext {
   position: relative;
    bottom: 1550px;
    font-size: 140px;
}

#resumenav {
    font-size: 590px;
    margin: 400px;
    position: relative; bottom:400px; right:60px
}
