/*Main page(base style)*/

#mainpage {
    background-color: blue;
    overflow: hidden;
    min-height: 100vh;
}

.maincontainer {
    display: flex;
    min-height: calc(100vh - 100px)
}

.sidebar {
    min-width: 300px;
    background-color: darkblue;
}

#nav {
    font-size: 20px;
    display: flex;
    margin: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.content {
    display: flex;
    flex: 1;
    background-color: darkcyan;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

#mainpic {
    max-width: 30%;
    height: auto;
}


footer {
    display: flex;
    height: 100px;
    background-color: lightblue;
    align-items:end;
    font-size: 6vw;
}

/*Resume page*/
#resumepage {
    overflow: scroll; 
}

#resumeimage {
    max-width: 47%;
    height: auto;
}

#resumeheader {
   display: flex;
   font-size: 6vw;
   background-color: lightseagreen;
   justify-content: center;
}

.wrapper2 {
    position: sticky;
    top: 0px;
}

#resumenav {
    font-size: 20px;
    display: flex;
    margin: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/*Contact Page*/

.contactinfo {
    
}


/*media queries*/

@media only screen and (max-width: 992px) {

    .maincontainer {
        flex-direction: column;
    }

    .sidebar {
        height: 150px;
    }

    #nav {
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    #resumenav {
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    #resumeimage {
        min-width: 90%;
    }

    .content {
        flex-direction: column;
        gap: 50px;
    }

}
