* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: rgb(79, 45, 73);
  }

  @font-face {
    font-family: 'spikeless';
    src: url(Spikeless.ttf);
}
  
  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  .procolumn {
    -ms-flex: 33%; 
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .procolumn img {
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    width: 100%;
  }

  .sup {
    height: 18vh;
  }
  /* header */
  .nav {
    position: fixed;
    display: flex;
    z-index: 4;
}
.navbutton {
    background: none;
	color: inherit;
	border: none;
    width: 20%;
    z-index: 4;
}

.navcrest{
    width: 50%;
    height: auto;
    z-index: 4;
    transition: 1s;
  }
  .navcrest:hover {
      width: 60%;
      height: auto;
      cursor: pointer;
  }

.sidebarnav {
    width: 100vw;
}

.sidebar {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(66, 102, 139);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7vw;
    transition: color 0.5s;
  }
.navtext:hover { color:rgb(47, 45, 77); 
}

.quotebox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    color: rgb(147, 76, 88);
}
.momheader {
    display: flex;
    justify-content: end;
    align-items:end;
    height: 20vh;
    width: 100%;
    padding-right: 50px;
    text-align: right;
    font-size: 3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(86, 50, 80);
    transition: 2s;
}
.momheader:hover { color: rgb(147, 76, 88);; 
}

.pictextholder {
  color: rgb(147, 76, 88);
  text-align: center;
  font-size: 5vh;
  font-family: 'spikeless';
}
.pictextholdersub {
  color: rgb(66, 102, 139);
  text-align: center;
  font-size: 3vh;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.promotextholder {
  color: rgb(147, 76, 88);
  text-align: center;
  font-size: 5vh;
  font-family: 'spikeless';
  border-style: solid;
}

  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
    .navcrest{
        width: 120%;
        height: auto;
    }
    li a {
        font-size: 3vw;
    }
  }