/*body style*/
body {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    background-color: rgb(79, 45, 73);
}

@font-face {
    font-family: 'spikeless';
    src: url(Spikeless.ttf);
}

/*header*/
.nav {
    position: fixed;
    display: flex;
    z-index: 4;
}
.navbutton {
    background: none;
	color: inherit;
	border: none;
    width: 20%;
    z-index: 4;
}

.navcrest{
    width: 50%;
    height: auto;
    z-index: 4;
    transition: 1s;
}
.navcrest:hover {
    width: 60%;
    height: auto;
    cursor: pointer;
}
.sidebarnav {
    width: 100vw;
}

.sidebar {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(66, 102, 139);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7vw;
    transition: color 0.5s;
  }
.navtext:hover { color:rgb(47, 45, 77); 
}
/*everything in first box*/
.homeflex {
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.homeflextext {
    position: fixed;
    color: rgb(147, 76, 88);
    font-family: "spikeless";
    font-size: 10vw;
    z-index: 2;
}

.homefleximage {
    width: auto;
    height: 45%;
    align-self: self-end;
    z-index: 1;
}

/*everything in next flexbox*/
.homeflexbelow {
    flex: 1;
    height: 180vh;
    display: flex;
}

.homeimage {
    width: 25%;
    height: auto;
    align-self: flex-start;
    margin-top: 10%;
    margin-left: 10%;
    z-index: 3;
}
.homeimage2 {
    width: 30%;
    height: auto;
    align-self:baseline;
    margin-top: 50%;
    margin-left: 30%;
    z-index: 1;
}

/*everything in next flexbox*/
.homeflexbelower {
    flex: 1;
    height: 180vh;
    display: flex;
}

.homeimage3 {
    width: 28%;
    height: auto;
    align-self: baseline;
    margin-left: 20%;
    z-index: 3;
}
.homeimage4 {
    width: 23%;
    height: auto;
    align-self: center;
    margin-top: 30%;
    z-index: 1;
}

/*everything in last flexbox*/
.homeflexbelowest {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

.homeinfo {
    color: rgb(147, 76, 88);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Smartphones (portrait) ----------- */
@media (max-width : 600px) { 
    .homeflexbelow {
        height: 100vh;
    }
    .homeflexbelower {
        height: 100vh;
    }
    .navcrest{
        width: 120%;
        height: auto;
    }
    li a {
        font-size: 3vw;
    }
}






